<%- contentFor('header')%>

    <header>
        <script>
            //changing the footer to stay at the very bottom on the page, removes sticky footer
            $(document).ready(function () {
                document.getElementById("footer").style = "display:block;";
            });
        </script>

        <nav id="navBar" class="navbar navbar-inverse navbar-fixed-top scrolling-navbar justify-content-center">
           
                <div class="text-left  d-none d-lg-block d-xl-block" id="headerinfo"> April 29th, 2018 </div>​
                <h1 class="h1-responsive  d-none d-lg-block d-xl-block" id="headerh2">
                        Ebonie 
                        &
                        
                        Cody 2018
                    </h1>
        
                    
                    <div id="headerinfo" class="text-right d-none d-lg-block d-xl-block"> Jonestown, TX </div>

                <div class="d-lg-none d-xl-none"style="width:100%">
                        <h1 class="h1-responsive " id="headerh2" >
                                Ebonie & Cody 2018
                </h1>
                </div>


            <!-- dropdown menu for mobile devices -->
            <div id="mobile" class="row btn-group " style="display:none">
                <div id="mobileDivider">
                    ________________________________
                </div>
                <div class="dropdown">
                    <button id="links" class="btn btn-flat btn-block btn-md dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Site Links
                    </button>
                    <div class="dropdown-menu dropdown-primary">
                        <a class="dropdown-item" href="/">
                            <h4>Home</h4>
                        </a>
                        <div id="guestEyesOnly2" style="display:none">
                            <a class="dropdown-item" href="/schedule">
                                <h4>Schedule</h4>
                            </a>
                            <a class="dropdown-item" href="/rsvp">
                                <h4>RSVP</h4>
                            </a>
                            <a class="dropdown-item" href="/venue">
                                <h4>Logistics</h4>
                            </a>
                            <a class="dropdown-item" href="/registry">
                                <h4>Registry</h4>
                            </a>
                            <a class="dropdown-item" href="/FAQ">
                                <h4>FAQ</h4>
                            </a>
                        </div>
                        <a class="dropdown-item" href="/about">
                            <h4>About Us</h4>
                        </a>
                        <a class="dropdown-item" href="/cobonie2018">
                            <h4>#cobonie2018</h4>
                        </a>
                        <a class="dropdown-item" href="/aestetic">
                            <h4>Aesthetic</h4>
                        </a>
                    </div>
                </div>
            </div>

            <!-- regular nav bar for desktops -->
            <div id="loginFirst" class="<%= guest%>" style="display:none">
                <ul id="nav" class="nav justify-content-center">
                    <li class="navbar-text">
                        <a class="nav-link" href="/">
                            <h3>Home</h3>
                        </a>
                    </li>
                    <div id="guestEyesOnly" style="display:none">
                        <li class="navbar-text">

                            <a class="nav-link" href="/schedule">
                                <h3>Schedule</h3>
                            </a>
                        </li>
                        <li class="navbar-text">
                            <a class="nav-link" href="/rsvp">
                                <h3>RSVP</h3>
                            </a>
                        </li>
                        <li class="navbar-text">
                            <a class="nav-link" href="/venue">
                                <h3>Logistics</h3>
                            </a>
                        </li>
                        <li class="navbar-text">
                            <a class="nav-link" href="/registry">
                                <h3>Registry</h3>
                            </a>
                        </li>
                        <li class="navbar-text">
                            <a class="nav-link" href="/faq">
                                <h3>FAQ</h3>
                            </a>
                        </li>
                    </div>
                    <li class="navbar-text">
                        <a class="nav-link" href="/about">
                            <h3>About Us</h3>
                        </a>
                    </li>

                    <li class="navbar-text">
                        <a class="nav-link" href="/cobonie2018">
                            <h3>#cobonie2018</h3>
                        </a>
                    </li>
                    <li class="navbar-text">
                        <a class="nav-link" href="/aestetic">
                            <h3>Aesthetic</h3>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <%- contentFor('hero')%>

        <script type="text/javascript">
            $(window).load(function () {
                //Checking device screen size to desplay site in a user friendly way
                getBootstrapDeviceSize();
                //if not a guest hide links to pages with wedding info
                if ("<%= guest%>" == 'false') {
                    document.getElementById("guestEyesOnly").style.display = "none";

                } else if ("<%= guest%>" == 'none') {
                    document.getElementById("loginFirst").style.display = "none";
                    document.getElementById("guestEyesOnly").style.display = "none";

                } else {
                    document.getElementById("guestEyesOnly").style.display = "inline";
                    document.getElementById("guestEyesOnly2").style.display = "block";
                }
            });


            //toggling nav bar on desktop to save header space
            $('#navBar').mouseenter(function () {
                document.getElementById("loginFirst").style.display = "inline";
            })

            $('#navBar').mouseleave(function () {
                document.getElementById("loginFirst").style.display = "none";
            })
        </script>







        <%- contentFor('body')%>
        <!-- used in getBootstrapDeviceSize() to determine user's device screen size -->
            <div id="users-device-size">
                <div id="xs" class="visible-xs"></div>
                <div id="sm" class="visible-sm"></div>
                <div id="md" class="visible-md"></div>
                <div id="lg" class="visible-lg"></div>
            </div>

            <!-- creating a parallax effect on the background with some css animation for text -->
            <div id="magnoliaBackground">
                <div class="view intro hm-white-light jarallax" data-jarallax='{"speed": 0.2}' style="height: 1000px;" id="jaralaxFirst">
                    <div class="full-bg-img">
                        <div class="container">
                            <div class="d-flex align-items-center d-flex justify-content-center" style="height: 850px">
                                <div class="row mt-5">
                                    <div class="col-md-12 wow fadeIn mb-3">
                                        <div class="intro-info-content text-center">
                                            <h1 class="display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s" id="magAU">The Two Before the One </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center mb-3">
                            <div class="container">
                                <br>
                                <div class="card card-cascade regular" style="background-color:#4d292c" >
                                    <div class="row">
                                        <div class=" col-md-6">
                                            <div class="view overlay hm-white-slight view hm-zoom">
                                                <img class="img-fluid" id='about-img' src="../img/cobonie2018/ebonie-nyc-2385.jpg">
                                            </div>
                                        </div>
                                        <div class=" col-md-6">
                                            <div class="card-body text-center white-text" id="AUtext">
                                                <h2 class="card-title">
                                                    <strong>Ebonie Lumpkin</strong>
                                                </h2>
                                                <br> 
                                                <div class="row">
                                                    <div class="text-center  white-text" id="text">
                                                        <strong>Hobbies: </strong>
                                                        <br> Software/Web Development, Sewing, Working Out
                                                
                                                <br>
                                                <br>
                                                        <strong>Nonsensical Aspiration: </strong>
                                                        <br>Coffee Snob
                                                   
                                                <br>
                                                <br>
                                              
                                                        <strong>Signature Drink: </strong>
                                                        <br> Water
                                                   
                                                <br>
                                                <br>
                                               
                                                        <strong>Rare Indulgences: </strong>
                                                        <br>Sangria or Pinot Noir 
                                                <br>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="view intro hm-white-light jarallax" data-jarallax='{"speed": 0.2}' style="height: 300px;" id="jarallaxSecond">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center my-3">
                            <div class="container">
                                <div class="card card-cascade narrower "style="background-color:#4d292c">
                                    <div class="row">
                                        <div class=" col-md-6">
                                            <div class="view overlay hm-white-slight view hm-zoom">
                                                <img id='about-img' class="img-fluid" src="../img/cobonie2018/Cody-austin-smaller.jpg">
                                            </div>
                                        </div>
                                        <div class=" col-md-6">
                                            <div class="card-body text-center white-text" id="AUtext">
                                                <h3 class="card-title">
                                                    <strong>Cody Cobb</strong>
                                                </h3>
                                                <br> Lorem ipsum dolor sit amet, in idque euripidis persequeris eos. His ne saperet
                                                hendrerit. An qui mundi aperiam maluisset, illum prompta no nec, everti probatus
                                                pro ad. Ne mel tacimates accusamus, oratio assentior eum ea. Vel dico principes
                                                ad. No copiosae indoctum qualisque mel, nostro eligendi vix et. Est et etiam
                                                admodum tincidunt, viris nobis possim ut usu, te usu falli definiebas.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="view intro hm-white-light jarallax" data-jarallax='{"speed": 0.2}' style="height: 300px;" id="jarallaxThird">
                </div>
            </div>