<%- contentFor('header')%>
    <script>
        $(document).ready(function () {
            document.getElementById("footer").style = "display:block;";

        });
    </script>

    <header>

        <nav id="navBar" class="navbar navbar-inverse navbar-fixed-top scrolling-navbar justify-content-center">

                <div class="text-left  d-none d-lg-block d-xl-block" id="headerinfo"> April 29th, 2018 </div>​
                <h1 class="h1-responsive  d-none d-lg-block d-xl-block" id="headerh2">
                        Ebonie 
                        &
                        
                        Cody 2018
                    </h1>
        
                    
                    <div id="headerinfo" class="text-right d-none d-lg-block d-xl-block"> Jonestown, TX </div>

                <div class="d-lg-none d-xl-none" style="width:100%">
                        <h1 class="h1-responsive " id="headerh2" >
                                Ebonie & Cody 2018
                </h1>
                </div>

            <div id="mobile" class="row btn-group " style="display:none">
                <div id="mobileDivider">
                    ________________________________
                </div>
                <div class="dropdown">
                    <button id="links" class="btn btn-flat btn-block btn-md dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Site Links
                    </button>
                    <div class="dropdown-menu dropdown-primary">
                            <a class="dropdown-item" href="/">
                                <h4>Home</h4>
                            </a>
                            <div id="guestEyesOnly2" style="display:none">
                                <a class="dropdown-item" href="/schedule">
                                    <h4>Schedule</h4>
                                </a>
                               
                                <a class="dropdown-item" href="/rsvp">
                                    <h4>RSVP</h4>
                                </a>
                                <a class="dropdown-item" href="/venue">
                                    <h4>Logistics</h4>
                                </a>
                                <a class="dropdown-item" href="/registry">
                                    <h4>Registry</h4>
                                </a>
                                <a class="dropdown-item" href="/FAQ">
                                    <h4>FAQ</h4>
                                </a>
                            </div>
                            <a class="dropdown-item" href="/about">
                                <h4>About Us</h4>
                            </a>
                            <a class="dropdown-item" href="/cobonie2018">
                                <h4>#cobonie2018</h4>
                            </a>
                            <a class="dropdown-item" href="/aestetic">
                                <h4>Aesthetic</h4>
                            </a>
                    </div>
                </div>
            </div>


            <div id="loginFirst" class="<%= guest%>" style="display:none">

                <ul id="nav" class="nav justify-content-center">
                    <li class="navbar-text">
                        <a class="nav-link" href="/">
                            <h3>Home</h3>
                        </a>
                    </li>
                    <div id="guestEyesOnly" style="display:none">
                        <li class="navbar-text">

                            <a class="nav-link" href="/schedule">
                                <h3>Schedule</h3>
                            </a>
                        </li>
                       
                        <li class="navbar-text">
                            <a class="nav-link" href="/rsvp">
                                <h3>RSVP</h3>
                            </a>
                        </li>
                        <li class="navbar-text">
                            <a class="nav-link" href="/venue">
                                <h3>Logistics</h3>
                            </a>
                        </li>
                        <li class="navbar-text">
                            <a class="nav-link" href="/registry">
                                <h3>Registry</h3>
                            </a>
                        </li>
                        <li class="navbar-text">
                            <a class="nav-link" href="/faq">
                                <h3>FAQ</h3>
                            </a>
                        </li>
                    </div>
                    <li class="navbar-text">
                        <a class="nav-link" href="/about">
                            <h3>About Us</h3>
                        </a>
                    </li>

                    <li class="navbar-text">
                        <a class="nav-link" href="/cobonie2018">
                            <h3>#cobonie2018</h3>
                        </a>
                    </li>
                    <li class="navbar-text">
                        <a class="nav-link" href="/aestetic">
                            <h3>Aesthetic</h3>
                        </a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>

    <%- contentFor('hero')%>
        <script type="text/javascript">
            $(window).load(function () {

                if ("<%= guest%>" == 'false') {
                    document.getElementById("guestEyesOnly").style.display = "none";

                } else if ("<%= guest%>" == 'none') {
                    document.getElementById("loginFirst").style.display = "none";
                    document.getElementById("guestEyesOnly").style.display = "none";

                } else {
                    document.getElementById("guestEyesOnly").style.display = "inline";
                    document.getElementById("guestEyesOnly2").style.display = "block";
                }

                getBootstrapDeviceSize();


            });

            $('#navBar').mouseenter(function () {
                document.getElementById("loginFirst").style.display = "inline";
            })

            $('#navBar').mouseleave(function () {
                document.getElementById("loginFirst").style.display = "none";
            })
        </script>




        <%- contentFor('body')%>

            <div id="users-device-size">
                <div id="xs" class="visible-xs"></div>
                <div id="sm" class="visible-sm"></div>
                <div id="md" class="visible-md"></div>
                <div id="lg" class="visible-lg"></div>
            </div>
                            
            <div class="container">
                  
                        
                        <div id="body-content">
                                <div class="container">
                        <div class="animated fadeInUp">
                                <h2 id="magAs">
                                    Ideas, Dreams, Whims
                                </h2>
                            </div>
                            </div>
                    <div id="floral" class="jumbotron text-center z-depth-5 view intro hm-white-light jarallax" data-jarallax='{"speed": 0.2}'>
                        <div id="vendors-h2">
                            <div id="AUtext">
                                <h1>
                                    Cake
                                </h1>
                            </div>

                        </div>
                        <p>
                            <a data-pin-do="embedBoard" data-pin-board-width="3000" data-pin-scale-height="500" data-pin-scale-width="600" href="https://www.pinterest.com/ointrovert/wedding-cake/"></a>
                        </p>
                    </div>
                    <div id="floral" class="jumbotron text-center z-depth-1 view intro hm-white-light jarallax" data-jarallax='{"speed": 0.2}'>
                        <div id="vendors-h2">
                            <div id="AUtext">
                                <h1>
                                    Floral
                                </h1>
                            </div>
                        </div>
                        <p>
                            <a data-pin-do="embedBoard" data-pin-board-width="3000" data-pin-scale-height="500" data-pin-scale-width="80" href="https://www.pinterest.com/ointrovert/wedding-floral/"></a>
                        </p>
                    </div>
                    <div id="floral" class="jumbotron text-center z-depth-5 view intro hm-white-light jarallax" data-jarallax='{"speed": 0.2}'>
                        <div id="vendors-h2">
                            <div id="AUtext">
                                <h1>
                                    Colors
                                </h1>
                            </div>
                        </div>
                        <p>
                            <a data-pin-do="embedBoard" data-pin-board-width="3000" data-pin-scale-height="500" data-pin-scale-width="80" href="https://www.pinterest.com/ointrovert/wedding-colors/"></a>
                        </p>
                    </div>
                    <div id="floral" class="jumbotron text-center z-depth-1 view intro hm-white-light jarallax" data-jarallax='{"speed": 0.2}'>
                        <div id="vendors-h2">
                            <div id="AUtext">
                                <h1>
                                    Head Pieces
                                </h1>
                            </div>
                        </div>
                        <p>
                            <a data-pin-do="embedBoard" data-pin-board-width="3000" data-pin-scale-height="500" data-pin-scale-width="80" href="https://www.pinterest.com/ointrovert/bridal-headpiece/"></a>
                        </p>
                    </div>

                    <div id="floral" class="jumbotron text-center z-depth-5 view intro hm-white-light jarallax" data-jarallax='{"speed": 0.2}'>
                        <div id="vendors-h2">
                            <div id="AUtext">
                                <h1>
                                    Furniture
                                </h1>
                            </div>
                        </div>
                        <p>
                            <a data-pin-do="embedBoard" data-pin-board-width="3000" data-pin-scale-height="500" data-pin-scale-width="80" href="https://www.pinterest.com/ointrovert/wedding-furniture/"></a>
                        </p>
                    </div>
                </div>
            </div>