<%- contentFor('header')%>
<header>
        <nav class="navbar navbar-inverse navbar-fixed-top scrolling-navbar justify-content-center">

            <div class="center-center " style="text-align:center" id="headerinfo"> April 29th, 2018 </div>​
        </br>
            
            <h1 class="h1-responsive" id = "headerh2" >
                Ebonie & Cody 2018
            </h1>
            <div id="headerinfo" class="text-center"> Jonestown, TX </div>

            <div  id="mobile" class="row btn-group " style="display:none" >
                <div style="display:block">
                    ________________________________
                </div>
            
                    <button id= "links" class="btn btn-unique btn-block btn-md dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Site Links
                    </button>
                    <div class="dropdown-menu">
                            <a class="nav-link" href="/">Home</a>
                            <div id="guestEyesOnly2" style="display:none">
                            <a class="nav-link" href="/schedule">Schedule</a>
                            <a class="nav-link" href="/hellotoyes">From Hello to Yes</a>
                            <a class="nav-link" href="/rsvp">RSVP</a>
                            <a class="nav-link" href="/venue">Venue</a>
                            </div>
                            <a class="nav-link" href="/about">About Us</a>
                            <a class="nav-link" href="/cobonie2018">#cobonie2018</a>
                            <a class="nav-link" href="/aestetic">Aesthetic</a>
                    </div>
                </div>
        
    </div>
            <!--         <a href="/" class="navbar-brand"></a>
    -->
            <div id="loginFirst" class="<%= guest%>">
                    
                <ul id="nav" class="nav justify-content-center">
                    <li class="navbar-text">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <div id="guestEyesOnly" style="display:none">
                        <li class="navbar-text">

                            <a class="nav-link" href="/schedule">Schedule</a>
                        </li>
                        <li class="navbar-text">
                            <a class="nav-link" href="/hellotoyes">From Hello to Yes</a>
                        </li>
                        <li class="navbar-text">
                            <a class="nav-link" href="/rsvp">RSVP</a>
                        </li>
                        <li class="navbar-text">
                            <a class="nav-link" href="/venue">Venue</a>
                        </li>
                    </div>
                    <li class="navbar-text">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>

                    <li class="navbar-text">
                        <a class="nav-link" href="/cobonie2018">#cobonie2018</a>
                    </li>
                    <li class="navbar-text">
                        <a class="nav-link" href="/aestetic">Aesthetic</a>
                    </li>
                </ul>
            
            </div>
        </nav>
         <!--                 <li><a href="/schedule">Schedule</a></li>
    -->


    <!--                 <li><a href="/registry">Registry</a></li>
    -->
    <!--  <li><a href="/faq">FAQs</a></li> -->



    <!--             <li><a href="/games">Games</a></li>
    -->
    <!-- <li><a href="/datageek">Data Geek</a></li> -->
    <!--  <li><a href="/contact">Contact</a></li> -->
    <!-- <li><a href="/siteinfo">Site Info</a></li> -->
    <!--             <li><a href="/vendorpage">Vendor Access Page</a></li>
    -->
    </header>
             
      
<%- contentFor('hero')%>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/json" src="freegeoip.net/json/github.com>"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<!-- <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
    

    $(window).load(function () {
        ////window.alert("<%= guest%>");

        console.log("<%= guest%>");
        console.log(document.getElementById("loginFirst").className);


          if ("<%= guest%>" == 'false') {
           // //window.alert(document.getElementById("overlay").className);
          //  document.getElementById("loginFirst").style.display = "inline";
            document.getElementById("guestEyesOnly").style.display = "none";
            ////window.alert("<%= guest%>");

        }else if ("<%= guest%>" == 'none'){
            document.getElementById("loginFirst").style.display = "none";
            document.getElementById("guestEyesOnly").style.display = "none";
            ////window.alert("<%= guest%>");

        }
        else{
           // document.getElementById("loginFirst").style.display = "block";
            document.getElementById("guestEyesOnly").style.display = "inline";
            document.getElementById("guestEyesOnly2").style.display = "block";

            ////window.alert("<%= guest%>");
        }
 


       
    });
   

</script>

<section class="hero">
    <div id = 'headercontent' class="hero-content-index">
        <h1 id="mag">
            <img id ="mag3" src = "../img/Background/Magnolia.png" />
            #cobonie2018
        <img id ="mag4"  src = "../img/Background/Magnolia.png" />
      </h1>
      <div id ="text">
          <p id ="coboniep">Go to Instagram, 
            </br>
            add a public image with the hashtag "#cobonie2018", 
          </br>
          wait a few mintues, then check it out below.
            </br>
              Click the image for a larger view.
            </p>
      </div>
           
    
 </div>
</section>

<%- contentFor('body')%>
<div id="users-device-size">
        <div id="xs" class="visible-xs"></div>
        <div id="sm" class="visible-sm"></div>
        <div id="md" class="visible-md"></div>
        <div id="lg" class="visible-lg"></div>
      </div>
<div id="cobonie-body-content">
<section >
    
    <div class="hero-vendors" >
      <div id="overlay" onclick="off()"><img id ="expandedImg" > 
        </div>
      
   <!--    <div style="padding:20px">
          
        </div> -->
      <div class="foo" >
          
      <% for (images of images) { %>
                    <img id ="foo" 
                    onclick= "on('<%= images.ExpandedURL%>')"
                    src = <%= images.URL%> >  
                     <% } %>
        </div>
    </div >
</section>
            </div>      
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <script>
       window.sr = ScrollReveal({ reset: true });
       
       // Customizing a reveal set
       sr.reveal('#foo', { duration: 500 });
        // sr.reveal('.bar');
  </script>
  
 
 <script src="app.js"></script>
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
 <script  type="text/javascript">
 $(window).load(function()
{
  document.getElementById('body').id = 'index';
  function getBootstrapDeviceSize() {
    return $('#users-device-size').find('div:visible').first().attr('id');
    }
    if (getBootstrapDeviceSize() == ("xs")){
        document.getElementById("mobile").style = "display:block";
        document.getElementById("nav").style = "display:none";
 
    }else if(getBootstrapDeviceSize() == ("sm")){
        document.getElementById("mobile").style = "display:block";
        document.getElementById("nav").style = "display:none";

    }else if(getBootstrapDeviceSize() == ("md")){
        document.getElementById("mobile").style = "display:block";
        document.getElementById("nav").style = "display:none";

    }else{
        document.getElementById("mobile").style = "display:none";
        document.getElementById("nav").style = "display:block";

    }

});

        $(window).scroll(function() {
 
          if ($(this).scrollTop()>0)
          {
             $('#headercontent').fadeOut();
/*              $('#headerh2').removeClass("h1").addClass("h3");
 */          }
         else
          {
           $('#headercontent').fadeIn();
/*            $('#headerh2').removeClass("h3").addClass("h1");
 */          }
  });
     </script>
 

