<%- contentFor('header')%>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top scrolling-navbar justify-content-center">

            <div class="text-center" id="headerinfo"> April 29th, 2018 </div>​
            
            <h1 class="h1-responsive" id = "headerh2" >
                Ebonie & Cody 2018
            </h1>
            <div id="headerinfo" class="text-center" > Jonestown, TX </div>

            <div  id="mobile" class="row btn-group " style="display:none" >
        
                <div  id="mobileDivider" >
                    ________________________________
                </div>
            
                    <button id= "links" class="btn btn-flat btn-block btn-md dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Site Links
                    </button>
                    <div class="dropdown-menu">
                            <a class="nav-link" href="/">Home</a>
                            <div id="guestEyesOnly2" style="display:none">
                            <a class="nav-link" href="/schedule">Schedule</a>
                            <a class="nav-link" href="/hellotoyes">From Hello to Yes</a>
                            <a class="nav-link" href="/rsvp">RSVP</a>
                            <a class="nav-link" href="/venue">Venue</a>
                            </div>
                            <a class="nav-link" href="/about">About Us</a>
                            <a class="nav-link" href="/cobonie2018">#cobonie2018</a>
                            <a class="nav-link" href="/aestetic">Aesthetic</a>
                    </div>
                </div>
        
    </div>
            <!--         <a href="/" class="navbar-brand"></a>
    -->
            <div id="loginFirst" class="<%= guest%>">
                    
                <ul id="nav" class="nav justify-content-center">
                    <li class="navbar-text">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <div id="guestEyesOnly" style="display:none">
                        <li class="navbar-text">

                            <a class="nav-link" href="/schedule">Schedule</a>
                        </li>
                        <li class="navbar-text">
                            <a class="nav-link" href="/hellotoyes">From Hello to Yes</a>
                        </li>
                        <li class="navbar-text">
                            <a class="nav-link" href="/rsvp">RSVP</a>
                        </li>
                        <li class="navbar-text">
                            <a class="nav-link" href="/venue">Venue</a>
                        </li>
                    </div>
                    <li class="navbar-text">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>

                    <li class="navbar-text">
                        <a class="nav-link" href="/cobonie2018">#cobonie2018</a>
                    </li>
                    <li class="navbar-text">
                        <a class="nav-link" href="/aestetic">Aesthetic</a>
                    </li>
                </ul>
            
            </div>
        </nav>
         <!--                 <li><a href="/schedule">Schedule</a></li>
    -->


    <!--                 <li><a href="/registry">Registry</a></li>
    -->
    <!--  <li><a href="/faq">FAQs</a></li> -->



    <!--             <li><a href="/games">Games</a></li>
    -->
    <!-- <li><a href="/datageek">Data Geek</a></li> -->
    <!--  <li><a href="/contact">Contact</a></li> -->
    <!-- <li><a href="/siteinfo">Site Info</a></li> -->
    <!--             <li><a href="/vendorpage">Vendor Access Page</a></li>
    -->
    </header>
   


    <%- contentFor('hero')%>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
        <script type="text/json" src="freegeoip.net/json/github.com>"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <!--      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
        <script type="text/json" src="freegeoip.net/json/github.com>"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
        <!-- <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->


        <script type="text/javascript">
            var style;
            //   count = 0 + count;

            $(window).load(function () {

              


                if (document.getElementById("overlay").className == 'false') {
                    document.getElementById("guestEyesOnly").style.display = "none";
                    document.getElementById("guestEyesOnly2").style.display = "none";

                    if ("<%= count%>" == "0") {
                        document.getElementById("hero").style.display = "none";
                        document.getElementById("overlay2").style.display = "block";
                    } else {
                        document.getElementById("hero").style.display = "block";
                        document.getElementById("overlay2").style.display = "none";
                    }


                } else if (document.getElementById("overlay").className == 'true') {

                    //guestReveal("true");
                    document.getElementById("loginFirst").style.display = "block";
                    document.getElementById("guestEyesOnly").style.display = "inline";
                    document.getElementById("hero").style.display = "block";
                    document.getElementById("guestEyesOnly2").style.display = "block";
                    document.getElementById("mobile").style.display = "block";


                    ////window.alert("<%= guest%>");
                } else {
                    document.getElementById("hero").style.display = "none";
                    document.getElementById("mobile").style.display = "none";

                    document.getElementById("overlay").style.display = "block";
                    document.getElementById("loginFirst").style.display = "none";
                    //count =1;


                }
                function getBootstrapDeviceSize() {
                    return $('#users-device-size').find('div:visible').first().attr('id');
                    }
                    if (getBootstrapDeviceSize() == ("xs")){
                        document.getElementById("nav").style = "display:none";
                        document.getElementById("intro").style = "font-size:40px";
                        document.getElementById("intro1").style = "font-size:40px";
                        document.getElementById("intro2").style = "font-size:40px";
                        document.getElementById("intro3").style = "font-size:40px";
                        document.getElementById("intro4").style = "font-size:40px";
                        document.getElementById("intro5").style = "font-size:40px";
                        document.getElementById("headerinfo").style = "width: 100%";
                        document.getElementById("headerh2").style = "width: 100%";
                 
                    }else if(getBootstrapDeviceSize() == ("sm")){
                        document.getElementById("nav").style = "display:none";
                        document.getElementById("intro").style = "font-size:45px";
                        document.getElementById("intro1").style = "font-size:45px";
                        document.getElementById("intro2").style = "font-size:45px";
                        document.getElementById("intro3").style = "font-size:45px";
                        document.getElementById("intro4").style = "font-size:45px";
                        document.getElementById("intro5").style = "font-size:45px";
                        document.getElementById("headerinfo").style = "width: 100%";
                            document.getElementById("headerh2").style = "width: 100%";                       

                    }else if(getBootstrapDeviceSize() == ("md")){
                        document.getElementById("nav").style = "display:none";
                        document.getElementById("intro").style = "font-size:50px";
                        document.getElementById("intro1").style = "font-size:50px";
                        document.getElementById("intro2").style = "font-size:50px";
                        document.getElementById("intro3").style = "font-size:50px";
                        document.getElementById("intro4").style = "font-size:50px";
                        document.getElementById("intro5").style = "font-size:50px";
                        document.getElementById("headerinfo").style = "width: 100%";
                            document.getElementById("headerh2").style = "width: 100%";
                    }else{
                        document.getElementById("mobile").style.display = "none";
                        document.getElementById("nav").style = "display:block";
                        document.getElementById("intro").style = "font-size:100px";
                        document.getElementById("intro1").style = "font-size:100px";
                        document.getElementById("intro2").style = "font-size:100px";
                        document.getElementById("intro3").style = "font-size:100px";
                        document.getElementById("intro4").style = "font-size:100px";
                        document.getElementById("intro5").style = "font-size:100px";
                        document.getElementById("login").className ="form-elegant";
                        document.getElementById("login").style.margin = "15% 25%";
                        document.getElementById("login2").className ="form-elegant";
                        document.getElementById("login2").style.margin = "15% 25%";




                    }

            });
            $(window).mousemove(function () {
                indexon();




            });

            function on3() {
                document.getElementById("overlay").style.display = "block";
                document.getElementById("overlay2").style.display = "none";


            }


            $(window).scroll(function () {

                if ($(this).scrollTop() > 0) {
                    $('#headercontent').fadeOut();
/*                     $('#headerh2').removeClass("h1").addClass("h3");
 */                } else {
                    $('#headercontent').fadeIn();
/*                     $('#headerh2').removeClass("h3").addClass("h1");
 */                }
            });
        </script>
        <!--   <section class="hero">

 -->
        <!--        <div id= 'headercontentindex'   class="hero-content-index">
 -->

        <!--     </div>
 -->
        <!--    </section> -->




        <%- contentFor('body')%>
        <div id="users-device-size">
                <div id="xs" class="visible-xs"></div>
                <div id="sm" class="visible-sm"></div>
                <div id="md" class="visible-md"></div>
                <div id="lg" class="visible-lg"></div>
              </div>

            <div id="overlay" style="display: none" class="<%= guest%>">
                <section class="form-elegant w-100 "  style="margin: 15% 0 0% 0 "id="login">
                    <div class="card  animated  fadeIn">

                        <div class="card-body">
                            <!--                 <div class="form-elegant" id="login">
 -->
                    <div class="text-center">
                            <h3 id="welcome" class="dark-grey-text mb-5">Welcome!</h3>
                        </div>

                            <p>
                                
                                Please enter your name below to help us be sure you're one of our invited guest.
                            </p>

                            <div class='row'>
                                <div class='col-sm-6 col-sm-offset-3'>
                                    <form id="formLogin" action="/" method="POST">
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input type="text" name="firstNameLogin" class="form-control" id="fnl" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            <input type="text" name="lastNameLogin" class="form-control" id="lnl" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="text" name="password" class="form-control" id="pw" required>
                                        </div>
                                        <div class="form-group text-center">
                                            <button type="submit" id="btn2" class="btn btn-unique btn-lg" onclick="off()">
                                                Submit
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    </section>
            </div>

            <div id="overlay2" style="display: none" class="<%= guest%>">

                <div  class="form-elegant w-100 " id="login2" style="margin: 15% 0 0% 0">
                        <div class="card animated  fadeIn text-center">
                                
                            <div class="card-body mx-4">
                                <p>
                                    Looks like you're not a guest. </br></br>
                                    You're still more than welcome to have a look around the site.
                                </p>
                                <form id="notGuest" action="/notGuest" method="POST">
                                    <div class="form-group">
                                        <input type="hidden" name="count" class="form-control" id="count" value="1">
                                    </div>
                                    <button type="submit" id="btn3" class="btn btn-lg btn-unique" onclick="off2()">
                                        Thanks! I'll poke around a bit more.
                                    </button>
                                </form>
                                <button type="button" id="btn4" class="btn btn-outline-danger  btn-lg waves-effect" onclick="on3()">
                                    Wait! I'm a guest I need to try to log in again!
                                </button>
                            </div>
                        </div>
                
                    </div>
            </div>
            <div id="body-content">
                <div class="hero" id="hero" style="display: none">
                    <ul class="cb-slideshow">
                        <li>
                            <span>Image 01</span>
                            <div>
                                <h3 id="intro">We're Getting Married!</h3>
                            </div>
                        </li>
                        <li>
                            <span>Image 02</span>
                            <div>
                                <h3 id="intro1">Join Us</h3>
                            </div>
                        </li>
                        <li>
                            <span>Image 03</span>
                            <div>
                                <h3  id="intro2">On April 29th</h3>
                            </div>
                        </li>
                        <li>
                            <span>Image 04</span>
                            <div>
                                <h3  id="intro3">As We Start </h3>
                            </div>
                        </li>
                        <li>
                            <span>Image 05</span>
                            <div>
                                <h3  id="intro4">The Next Chapter</h3>
                            </div>
                        </li>
                        <li>
                            <span>Image 06</span>
                            <div>
                                <h3  id="intro5">Of Our Lives</h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>