<%- contentFor('header')%>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top ">
            <span class="right"> Jonestown, TX </span>
            <span class="left"> April 29th, 2018 </span>​

            <h1 id="headerh2" class=" text-center">
                Ebonie & Cody 2018
            </h1>

            <!--         <a href="/" class="navbar-brand"></a>
-->
            <div id="loginFirst">
                <ul id="nav" class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <div id="guestEyesOnly" style="display:none">
                        <li>
                            <a href="/schedule">Schedule</a>
                        </li>
                        <li>
                            <a href="/hellotoyes">From Hello to Yes</a>
                        </li>
                        <li>
                            <a href="/rsvp">RSVP</a>
                        </li>
                        <li>
                            <a href="/venue">Venue</a>
                        </li>
                    </div>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <!--                 <li><a href="/schedule">Schedule</a></li>
-->


                    <li>
                        <a href="/cobonie2018">#cobonie2018</a>
                    </li>
                    <!--                 <li><a href="/registry">Registry</a></li>
-->
                    <!--  <li><a href="/faq">FAQs</a></li> -->


                    <li>
                        <a href="/aestetic">Aesthetic</a>
                    </li>
                    <!--             <li><a href="/games">Games</a></li>
-->
                    <!-- <li><a href="/datageek">Data Geek</a></li> -->
                    <!--  <li><a href="/contact">Contact</a></li> -->
                    <!-- <li><a href="/siteinfo">Site Info</a></li> -->
                    <!--             <li><a href="/vendorpage">Vendor Access Page</a></li>
-->
                </ul>
            </div>
        </nav>
    </header>

    <%- contentFor('hero')%>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
        <script type="text/json" src="freegeoip.net/json/github.com>"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
        <!-- <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



        <script type="text/javascript">
            var data2;
          //   count = 0 + count;

            $(window).load(function () {

                if (document.getElementById("overlay").className == 'false' ) {
                    // window.alert(document.getElementById("overlay").className);
                    //   document.getElementById("overlay").style.display = "block";
                    document.getElementById("guestEyesOnly").style.display = "none";
                   // window.alert("!!!count: " + "<%= count%>");
                    if ("<%= count%>" == "0"){
                        document.getElementById("hero").style.display = "none";

                            document.getElementById("overlay2").style.display = "block";
                    }else{
                        document.getElementById("hero").style.display = "block";
                        document.getElementById("overlay2").style.display = "none";


                    }
                  

                } else if (document.getElementById("overlay").className == 'true') {

                    //guestReveal("true");
                    document.getElementById("loginFirst").style.display = "block";
                    document.getElementById("guestEyesOnly").style.display = "inline";
                    document.getElementById("hero").style.display = "block";
                    //window.alert("<%= guest%>");
                } else {
                    document.getElementById("hero").style.display = "none";

                    document.getElementById("overlay").style.display = "block";
                    document.getElementById("loginFirst").style.display = "none";
                    //count =1;


                } 


            });
            $(window).mousemove(function () {
                indexon();




            });
            function on3() {
                        document.getElementById("overlay").style.display = "block";
                        document.getElementById("overlay2").style.display = "none";
                        

                    }
            

            $(window).scroll(function () {

                if ($(this).scrollTop() > 0) {
                    $('#headercontent').fadeOut();
                    $('#headerh2').removeClass("h1").addClass("h3");
                } else {
                    $('#headercontent').fadeIn();
                    $('#headerh2').removeClass("h3").addClass("h1");
                }
            });
        </script>
        <!--   <section class="hero">

 -->
        <!--        <div id= 'headercontentindex'   class="hero-content-index">
 -->

        <!--     </div>
 -->
        <!--    </section> -->




        <%- contentFor('body')%>

            <div id="overlay" style="display: none" class="<%= guest%>">

                <div class="jumbotron text-center" id="login">
                    <p>
                        Welcome! </br>
                        Please enter your name below to help us be sure you're one of our invited guest.
                    </p>

                    <div class='row'>
                        <div class='col-sm-6 col-sm-offset-3'>
                            <form id="formLogin" action="/" method="POST">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" name="firstNameLogin" class="form-control" id="fnl" required>
                                </div>
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" name="lastNameLogin" class="form-control" id="lnl" required>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="text" name="password" class="form-control" id="pw" required>
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" id="btn2" class="btn btn-primary btn-lg" onclick="off()">
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="overlay2" style="display: none" class="<%= guest%>">

                <div class="jumbotron text-center" id="login">
                    <p>
                        Looks like you're not a guest. </br>
                        You're still more than welcome to have a look around the site.
                    </p>
                    <form id="notGuest" action="/notGuest" method="POST">
                    <div class="form-group">
                        <input type="hidden" name="count" class="form-control" id="count" value="1">
                    </div>
                    <button type="submit" id="btn3" class="btn btn-primary btn-lg" onclick="off2()">
                        Thanks! I'll poke around a bit more.
                    </button>
                    </form>
                    <button type="button" id="btn4" class="btn btn-primary btn-lg" onclick="on3()">
                            Wait! I'm a guest I need to try to log in again!
                    </button>

                </div>
            </div>
            <div id="body-content">
            <div class="hero" id = "hero" style="display: none" >
                <ul class="cb-slideshow">
                    <li>
                        <span>Image 01</span>
                        <div>
                            <h3>We're Getting Married!</h3>
                        </div>
                    </li>
                    <li>
                        <span>Image 02</span>
                        <div>
                            <h3>Join Us</h3>
                        </div>
                    </li>
                    <li>
                        <span>Image 03</span>
                        <div>
                            <h3>On April 29th</h3>
                        </div>
                    </li>
                    <li>
                        <span>Image 04</span>
                        <div>
                            <h3>As We Start </h3>
                        </div>
                    </li>
                    <li>
                        <span>Image 05</span>
                        <div>
                            <h3>The Next Chapter</h3>
                        </div>
                    </li>
                    <li>
                        <span>Image 06</span>
                        <div>
                            <h3>Of Our Lives</h3>
                        </div>
                    </li>
                </ul>
            </div>
            </div>