<%- contentFor('header')%>
<header>
        <nav class="navbar navbar-inverse navbar-fixed-top scrolling-navbar justify-content-center">

            <div class="center-center " style="text-align:center" id="headerinfo"> April 29th, 2018 </div>​
        </br>
            
            <h1 class="h1-responsive" id = "headerh2" >
                Ebonie & Cody 2018
            </h1>
            <div id="headerinfo" class="text-center"> Jonestown, TX </div>

            <div  id="mobile" class="row btn-group " style="display:none" >
                <div style="display:block">
                    ________________________________
                </div>
            
                    <button id= "links" class="btn btn-unique btn-block btn-md dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Site Links
                    </button>
                    <div class="dropdown-menu">
                            <a class="nav-link" href="/">Home</a>
                            <a class="nav-link" href="/schedule">Schedule</a>
                            <a class="nav-link" href="/hellotoyes">From Hello to Yes</a>
                            <a class="nav-link" href="/rsvp">RSVP</a>
                            <a class="nav-link" href="/venue">Venue</a>
                            <a class="nav-link" href="/about">About Us</a>
                            <a class="nav-link" href="/cobonie2018">#cobonie2018</a>
                            <a class="nav-link" href="/aestetic">Aesthetic</a>
                    </div>
                </div>
        
    </div>
            <!--         <a href="/" class="navbar-brand"></a>
    -->
            <div id="loginFirst" class="<%= guest%>">
                    
                <ul id="nav" class="nav justify-content-center">
                    <li class="navbar-text">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                        <li class="navbar-text">

                            <a class="nav-link" href="/schedule">Schedule</a>
                        </li>
                        <li class="navbar-text">
                            <a class="nav-link" href="/hellotoyes">From Hello to Yes</a>
                        </li>
                        <li class="navbar-text">
                            <a class="nav-link" href="/rsvp">RSVP</a>
                        </li>
                        <li class="navbar-text">
                            <a class="nav-link" href="/venue">Venue</a>
                        </li>
                    <li class="navbar-text">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>

                    <li class="navbar-text">
                        <a class="nav-link" href="/cobonie2018">#cobonie2018</a>
                    </li>
                    <li class="navbar-text">
                        <a class="nav-link" href="/aestetic">Aesthetic</a>
                    </li>
                </ul>
            
            </div>
        </nav>
         <!--                 <li><a href="/schedule">Schedule</a></li>
    -->


    <!--                 <li><a href="/registry">Registry</a></li>
    -->
    <!--  <li><a href="/faq">FAQs</a></li> -->



    <!--             <li><a href="/games">Games</a></li>
    -->
    <!-- <li><a href="/datageek">Data Geek</a></li> -->
    <!--  <li><a href="/contact">Contact</a></li> -->
    <!-- <li><a href="/siteinfo">Site Info</a></li> -->
    <!--             <li><a href="/vendorpage">Vendor Access Page</a></li>
    -->
    </header>
     

<%- contentFor('hero')%>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/json" src="freegeoip.net/json/github.com>"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<!-- <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script  type="text/javascript">

    var test;

 $(window).load(function()
{
    function getBootstrapDeviceSize() {
        return $('#users-device-size').find('div:visible').first().attr('id');
        }
        if (getBootstrapDeviceSize() == ("xs")){
            document.getElementById("mobile").style = "display:block";
            document.getElementById("nav").style = "display:none";
     
        }else if(getBootstrapDeviceSize() == ("sm")){
            document.getElementById("mobile").style = "display:block";
            document.getElementById("nav").style = "display:none";

        }else if(getBootstrapDeviceSize() == ("md")){
            document.getElementById("mobile").style = "display:block";
            document.getElementById("nav").style = "display:none";

        }else{
            document.getElementById("mobile").style = "display:none";
            document.getElementById("nav").style = "display:block";

        }


    test = 0;
    document.getElementById('body').id = 'index';
    document.getElementById('hotel').style.display = "none";
    document.getElementById('no').checked = true;
    
   
    
});
    $(window).mousemove(function(){
        indexon();
    });

    $(window).scroll(function() {

        if ($(this).scrollTop()>0)
        {
           $('#headercontent').fadeOut();
/*            $('#headerh2').removeClass("h1").addClass("h3");
 */        }
       else
        {
         $('#headercontent').fadeIn();
/*          $('#headerh2').removeClass("h3").addClass("h1");
 */        }
    });
    function formReveal(){
        if (document.getElementById('yes').checked){
            document.getElementById('hotel').style.display = 'block';
        }else{
            document.getElementById('hotel').style.display = 'none';
            document.getElementById('roomAmount').options[0].selected = true;
            document.getElementById('rooms').options[0].selected = true;

            //$('#roomAmount option:first-child').attr("selected", "selected");        
        }
    }

    function bye(){
        if (document.getElementById("fn").innerText =="" || document.getElementById("ln").innerText =="" || document.getElementById("em").innerText ==""){
           // //window.alert("See you soon!");

        }else{
            //window.alert("See you soon!");
        }
    }
     
    function formcheck(check){ 
        if (test == 0){
            if (check){
            //window.alert("Welcome back! \n\nWe found your information in our database. \n\nIf you would like to make change to your RSVP, please indicate you are updating your information below. \n\nThank you!");
            test = 1;
            }else{
                test =1;
            }
        }
        
    }

    
    </script>
 
<section class="hero" >
        <div id= 'headercontent'  class="hero-content">
         <h2 id="mag">
            RSVP
         </h2>
        
     </div>
    </section>
 
 <%- contentFor('body')%>
 <div id="users-device-size">
        <div id="xs" class="visible-xs"></div>
        <div id="sm" class="visible-sm"></div>
        <div id="md" class="visible-md"></div>
        <div id="lg" class="visible-lg"></div>
      </div>
 <div id="body-content">
      
<div onmouseover="formcheck('<%= results[0]%>')" class="jumbotron text-center" >
<!--         <p class="h5 text-center mb-4"> RSVP</p>
 -->   <!--  <h2 >
           
        </h2>   -->    
        <p class="h5 text-center mb-4" ><strong>
            Use the form below to let us know if you are coming and what accomadations you need.
            Even if you sent out your mailed RSVP note, feel free use the form below just in case. 
        </strong>
        </p>  
        <div class='row'>
            <div class='col-sm-6 col-sm-offset-3'>
                
    
                <form action="/rsvp" method="POST">
                <div class="md-form">
                    <label  for="form3">First Name</label>
                    <input type="text" name="firstName" class="form-control" id="fn" required>
                </div>
                <div class="md-form">
                    <label>Last Name</label>
                    <input type="text" name="lastName" class="form-control" id = "ln" required>
                </div>
                <div class="md-form">
                    <label>Phone Number </label>
                    <input type="text" name="Phone" class= "form-control" >
                </div>
                <div class="md-form">
                    <label>Plus One Name</label>
                    <input type="text" name="extraName" class="form-control">
                </div>
                
                <div class="md-form">
                    <label>Email</label>
                    <input type="text" name="email" class="form-control" id="em" required>
                </div>
                <div class="form-group">
                    <label>Do you need to be added to the hotel block?</label><br>
                    <input type="radio" name="hotel" value="yes" id ="yes" onclick="formReveal()"> Yes
                    <input type="radio" name="hotel" value="no" id="no" checked = "checked"     onclick="formReveal()"> No<br>
                </div>
                <div class="form-group" id = "hotel" style= "display: none">
                    <label>How many rooms do you need?</label>
                    <select class="form-group" name="rooms" id="rooms">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                    </select>
                    <label>What is the max number of beds needed per room?</label><br>
                    <select class="form-group " name="roomAmount" id='roomAmount'>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                      </select>
                </div>
                <div class="md-form">
                    <label>Food Allergies and Restrictions</label>
                    <input type="text" name="food" class="form-control">
                </div>
                <div class="md-form">
                    <label>Any thing you'd like us to know or consider?</label>
                    <input type="text" name="extra" class="form-control">
                </div>
             <div class="form-group text-center">
                 <label>Are you updating your information?</label>
                 <input type="radio" name="update" value="yes"> Yes
                 <input type="radio" name="update" value="no" checked="checked"> No<br>
                 <button type="submit" class="btn btn-unique" onclick="bye()">
                    Submit
                 </button>
             </div>
                </form>
            </div>
        </div>
           
</div>
</div>